extends layout 

block content 
    .loginPage
      p Login
      form.loginForm(action='', method='post')
        .form-group
          label(for='email') Enter Email
          input#email.form-control(type='text', name='username')
        .form-group
          label(for='password') Enter Password
          input#password.form-control(type='password', name='password')
        button.btn.btn-primary(type='submit') Submit
        if invalidCredentials
         p.invalidCredentials *#{invalidCredentials}
      
    p.signupMsg *Not a member ? 
     a(href="/sign-up") Sign-up 
     | now.